SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080

DB_NAME=owoon
DB_USERNAME=owoon
DB_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_PORT=3306

JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

JWT_SECRET=replace-this-with-a-long-random-secret
JWT_ACCESS_TOKEN_EXPIRE_MS=3600000
JWT_REFRESH_TOKEN_EXPIRE_MS=1209600000
